{% extends 'base.html' %}
{% block content %}



        




        <div class="header">

            <div>
                <h1>Hello {{request.user|title}}</h1>
                <h3 style="margin: 0;">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3>

            </div>

            {% if request.user.is_authenticated %}

                
                    <a href="{% url 'logout_view' %}">Logout</a>
                    

            {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                    

            {% endif %}



        </div>




            <div id="search-add-rapper">



    

                
                    <form method="GET" style="margin-top: 20px; display: flex;">
                        <input type="text" name="search" value="{{search_bar}}">
                        <input type="submit" value="Search " class="button" style="margin-left: 5px;">
                    </form>

                
                
             

                <a href="{% url 'create' %}" id="add-task">&#x2b;</a>

            </div>

           

                

            <div class="task-items-wrapper">
                {% for task in tasks %}

                    <div class="task-wrapper">

                        {% if task.complete %}

                            <div class="task-title">

                                <div class="task-complete-icon"></div>
                                <i><s><a href="{% url 'update' task.id %}">{{task.title}}</a></s></i>

                            </div>

                            <span style="font-size: 12px; color: #FFFFFF;text-align: center;"><i>{{task.date}}</i></span>

                        {% else %}
                            
                            <div class="task-title">

                                <div class="task-incomplete-icon"></a></div>

                                <a href="{% url 'update' task.id %}">{{task.title}}</a>
                            </div>

                            <span style=" font-size: 12px;color: #FFFFFF;"><i>{{task.date}}</i></span>

                        {% endif %}

                        
                        <a href="{% url 'delete' task.id %}" class="delete-link">&#215;</a>

                    </div>

                {% empty %}

                    <h3>No results found</h3>

                {% endfor %}

            </div>


                
                







        <!-- <div class="task-items-wrapper">

                {%  for task in tasks %}

                    <div class="task-wrapper">
                        {% if task.complete %}

                            <div class="task-title">

                                <div class="task-complete-icon"></div>

                                    <i><s><a href="{% url 'update' task.id %}">{{task.title}}</a></s></i> 

                            </div>

                            <small><i>{{task.date}}</i></small>

                            <a href="{% url 'delete' task.id %}" class="delete-link">&#215;</a>

                        {% else %}
                           
                            
                            <div class="task-title">

                                <div class="task-incomplete-icon"></div>

                                   <a href="{% url 'update' task.id %}">{{task.title}}</a>
                            </div>

                            <small style="padding-right: 20px;"><i>{{task.date}}</i></small>

                            <a href="{% url 'delete' task.id %}" class="delete-link">&#215;</a>

                            
                        {% endif %}

                            

                        




                    </div>
                {% endfor %}




        </div> -->
                
               







{% endblock %}